<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="script">
	<script>	
	</script>
</th:block>

<th:block th:fragment="aside">
	<nav class="side-container">
		<div class="vertical-menu">
			<button type="button" class="btn btn-success w-100 h-100 text-start" onclick="location.href='/index'">
				<span class="fa fa-home"></span>&nbsp; Home
			</button>
			<hr>
			<a href="/board/Free"><i class="fas fa-arrow-alt-circle-right"></i><span>&nbsp;
					자유게시판</span></a> 
			<a href="/chat"><i class=" fas fa-user-circle"></i><span>&nbsp; 자유 채팅</span></a> 
			<a class="align-text-bottom" onclick="changeTheme();"><span>&nbsp; 테마 변경</span></a>
			
			
		</div>
	</nav>
</th:block>
</html>