<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>P2P 로그인</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
<script type="text/javascript" src="js/jquery-3.7.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<style type="text/css">
	
	
	
	div {
		display: block;
		text-align: center;
	}

	#wrapper {
		
		min-width: 360px;
		max-width: 492px;
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 0 auto;
		
	}
	
	#content {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.loginBtn {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.userID, .password {
		padding-top: 10px;
	}
	
	
</style>
</head>
<body>


<div id="wrapper">
	
	<div id="header">
		<img alt="로고사진" src="images/camellia.png" style="width: 100%; max-width: 400px;">
	</div>

	<div id="content">
		<form action="/loginOK" method="post">
		
			<fieldset>
		
				<div class="userID">
					<input type="text" class="input form-control input-lg" id="userID" name="userID" placeholder="ID 혹은 이메일(Email)">
				</div>
			
				<div class="input-group password">
					<input type="password" class="input form-control input-lg" id="password" name="password" placeholder="비밀번호">
					
					<span class="input-group-text">
						<i class="pwd fa fa-eye-slash fa-lg" style="color:black; cursor: pointer;"></i>
					</span>
				
				</div>

				<div th:if="${param.error}">
					<div class="alert alert-danger">사용자ID 또는 비밀번호를 확인해 주세요.</div>
				</div>


					<div class="loginBtn d-grid-gap-2">
					<button class="btn btn-primary w-100 py-2" type="submit" id="loginButton">로그인</button>
				</div>
				
							
				<p class="loginMenu btn-group">
					<a class="btn btn-outline-dark" href="register" style="outline-style: soild;">회원가입</a>
					<a class="btn btn-outline-dark" href="findid">ID 찾기</a>
					<a class="btn btn-outline-dark" href="findpwd">비밀번호 찾기</a>			
				</p>
		
			</fieldset>
		</form>
	</div>
	
	
	
	
</div>


</body>
</html>