<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/default_Layout}">
<!-- main.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		p {
			margin: 0px;
			font-size: 1.1em;
		}
		
		.text-row {
			margin: 1em;
		}
	
		.button-line {
			margin: 1em;
		}
		
	</style>	
</th:block>
<!-- main.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript">
	
	window.onload=function() {
		
		var str = document.getElementById("textarea").innerText;
		console.log(str);
		str = str.replaceAll("<br/>", "\r\n");
		document.getElementById("textarea").innerHTML = str;
		
		const username = '[[${userID}]]';
		const post_author = '[[${post.author}]]';
		if ( username != post_author ) {
			document.getElementById('button-div').style.display = 'none';
		}
	}
	</script>
</th:block>
<!-- Content -->
	<th:block layout:fragment="content">
		
		<div>
			<h3><p>글보기</p></h3>
		</div>
		
		<form action="/deleteOK" name="deleteOK" method="post">
		
			<div class="title-row border" style="padding: 1%;">
				<div class="title">
					<p name="title" th:text="${post.title}"></p>
				</div>
			</div>
			
			<input type="hidden" name="boardID" th:value="${post.boardID}"></input>
			
		
			<div class="text-row">
				<p id="textarea" th:text="${post.text}"></p>
			</div>
			
			<div class="button-line" align="right" th:if="{post.author != userID}">
				<div id="button-div">
					<button class="btn btn-danger" type="submit" >삭제</button>
					<button class="btn btn-primary" type="button" th:href="@{/board/Free/edit/{boardID} (boardID=${post.boardID})}">수정</button>
				</div>
			</div>
			
		</form>
		
	</th:block>
</html>