<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/default_Layout}">
<!-- main.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
	
		
	
	</style>	
</th:block>
<!-- main.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript">
	
	window.onload=function() {
		var str = document.getElementById("textarea").innerText;
		console.log(str);
		str = str.replaceAll("<br/>", "\r\n");
		document.getElementById("textarea").innerHTML = str;
	}
	</script>
</th:block>
<!-- Content -->
	<th:block layout:fragment="content">
		
		<div class="border border-1">
			<h2>글보기</h2>
		</div>
		
		<form action="/deleteOK" name="deleteOK" method="post">
			<div class="title-row">
				<p name="title" th:text="${post.title}"></p>
				<p name="boardID" th:text="${post.boardID}"></p>
				<input type="hidden" name="boardID" th:value="${post.boardID}"></input>
			</div>
			
			<div class="text-row">
				<p id="textarea" th:text="${post.text}"></p>
			</div>
			
			<div align="right">
				<a class="btn btn-danger" type="submit" href="javascript:deleteOK.submit();">삭제</a>
				<a class="btn btn-primary" type="button" th:href="@{/board/Free/edit/{boardID} (boardID=${post.boardID})}">수정</a>
			</div>
			
		</form>
		
	</th:block>
</html>