<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.P2PApp.DAO.UserDAO">

	<insert id="insertUserInfo">
		INSERT INTO user ( id, name, email, phone ) values ( #{id}, #{name}, #{email}, #{phone} )
	</insert>
	
	<insert id="insertLoginInfo">
		INSERT INTO login ( id, salt, password) values ( #{id}, #{salt}, #{password} )
	</insert>
	
</mapper>